<!--Adding Header.ejs-->

<%- include('header'); -%>
<br>
<ul class="stickyicon">
	<li><a href="#" class="stickitem1" ><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
	<li><a href="#" class="stickitem2" ><i class="fa fa-skype" aria-hidden="true"></i></a></li>
</ul>
<!--Adding complete-->
<%- include('middle'); -%>

<%- include('navbar2'); -%>


<%- include('card'); -%>
<%- include('card2'); -%>
<br><br>
<center>
<hr size="2" color="#003063" width="1300px" height="5px">
</center>

<%- include('imageslide1'); -%>
<center>
<hr size="2" color="#003063" width="1300px" height="5px">
</center>
<br>
<%- include('secondback'); -%>
<%- include('thirdback'); -%>

<%- include('imageslide2'); -%>

<%- include('form'); -%>

<!--Adding footer.ejs-->
<%- include('footer'); -%>
<!--Adding complete-->